button.disconnected {
	cursor: pointer;
	color: #eee;
	background-color: #aa3333;
	border: 1px solid #cc5555;
	line-height: normal;
	padding: 0.4em;
	transition-duration: 200ms;
	user-select: none;
}

button.idle {
	cursor: pointer;
	color: #eee;
	background-color: #aaa833;
	border: 1px solid #ccaa55;
	line-height: normal;
	padding: 0.4em;
	transition-duration: 200ms;
	user-select: none;
}

button.connected {
	cursor: pointer;
	color: #eee;
	background-color: #35a;
	border: 1px solid #57c;
	line-height: normal;
	padding: 0.4em;
	transition-duration: 200ms;
	user-select: none;
}

td,th {
text-align: center;
} 
